.div1{
    width: 100%;
    background-color: navy;
    height: 20%;
}

.button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    width: 33%;
    text-decoration: none;
    display: inline-block;
    height: 100%
}